body{
    background: linear-gradient(yellow,orange,red,#F2F2E9,white,rgba(144, 238, 144, 0.425));
    margin: 0;
    margin-bottom: 100px;
}

.intro{
    background-image: url(Shahjahanpur.jpeg);
    background-size:cover;
    width: 100%; 
    height: 800px;
    display: flex;
    align-items: end;
    flex-direction: column;
}

#A{
  font-family: "Protest Guerrilla", sans-serif;
  font-weight: 200px;
  font-style: normal;
  color: #F2F2E9;
}

.textA{
    
    background-color:rgba(111, 151, 50, 0.61) ;
    width: fit-content;
    padding: 0px 40px;
    margin-bottom: 0;
    border: 5px solid #F2F2E9;
    border-radius: 10px;
    margin-right: 100px;
    margin-top: 100px;
    text-shadow: 5px 5px black;
}

#B{
  font-family: "Yesteryear", cursive;
  font-weight: 00px;
  font-style: normal;
  font-size: 80px;
  margin-top: 0px ;
  color: #ffcf30;
}

.textB{
    font-family: cursive, 'Arial Narrow Bold', sans-serif;
    font-size: 25px;
    background-color:rgba(111, 151, 50, 0.562);
    padding: 10px;
    color: #F2F2E9;
    margin-top: -5px;
    border: 5px solid #e9f2e9;
    border-radius: 10px; 
    margin-right: 180px;
    text-shadow: 4px 3px black;
}

.Explore{
    background: linear-gradient(#ffc229, #F2F2E9);
    margin-top: -22px;
    height: 650px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.places{
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.imgs{
    width: 200px;
    height: 185px;
    border: 4px solid #F2F2E9;
    border-radius: 100%;
}
.imgs:hover{
    cursor: pointer;
    transform: scale(1.1);
    box-shadow: 0px 10px 20px rgba(0,0,0,0.4);
}

.text-places{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
    font-size: 30px;
}

#heading{
    padding-top: 30px;
}

.sub-place{
    width: 32%;
    height: 530px;
    border: 6px solid beige;
    border-radius: 20px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.477);
}

.content-text{
  font-family: "Kavivanar", cursive;
  font-weight: 400;
  font-style: normal;
  padding: 10px 50px;
}

.content-head{
  font-family: "Black Ops One", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 25px;
  padding: 0px 50px;
}

#heading{
  font-family: "Anton SC", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.my-img{
    width: 200px;
    height: 200px;
    background-color: rgb(62, 183, 142);
    padding: 30px 20px;
    
}

.tour{
    background-color: mediumaquamarine;
    width: 500px;
    height: 260px;
    display: flex;
    border-bottom: 10px solid green;
    margin: 100px auto;
}

.my-total-text{
    display: flex;
    height: 220px;
    flex-direction: column;
    text-align: center;
    margin-left:auto;
    margin-right: auto;
    margin-top: 20px;
    background-color: rgb(62, 183, 142);
    padding-left:  20px;
    padding-right: 20px;
}

.my-text{
    width: 150px;
    margin-top: 0;
    font-style: italic;
}

.last{
    margin-top: 0;
}